<div id="footer">
    <div class="container text-center my-5">
        
        <div class="row">
            <div class="col-md-4">
                <h2>LOCATION</h2>
               <p>2215 John Daniel Drive</p>
            </div>
    
    
      <div class="col-md-4">
        <h2>AROUND THE WEB</h2>
        <div class="icons">
            <i class="fa-brands fa-facebook me-3 pt-2"></i>
            <i class="fa-brands fa-twitter me-3 pt-2"></i>
            <i class="fa-brands fa-linkedin me-3 pt-2"></i>
            <i class="fa-brands fa-instagram me-3 pt-2"></i>
        </div>
      </div>
      <div class="col-md-4">
        <h2>ABOUT FREELANCER</h2>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      </div>
    </div>
    </div>
    </div>
    
    <div class="footer text-center py-3">
    <p>Copyright © Your Website 2021</p>
    </div>
    
