<div id="about">
    <div class= "container text-center text-white p-5">
       <h2>ABOUT COMPONENT</h2>
       <div class="row text-center">
           <div class="col-md-1 line-one position-relative"></div>
           <div class="col-md-1 icon position-relative">
               <i class="fa-solid fa-star "></i>
           </div>
       <div class="col-md-1 line-two  position-relative"></div>
       </div>
       <div class="row px-4 p-2">
      <div class=" col-md-6 mb-3">
       Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
   </div>
   <div class=" col-md-6 mb-3">
       Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
   </div>
       </div>
       </div>
   </div>
   