<div id="home">
    <div class="container text-center text-white py-5">
<img class="w-25 m-4" src="../assets/img/avataaars (1).svg" alt="photo">
<h2 class="text-center">START FRAMEWORK</h2>
<div class="decoration">
 <div class="row text-center pb-5">
     <div class="col-md-1 line-one position-relative"></div>
     <div class="col-md-1 icon position-relative">
         <i class="fa-solid fa-star "></i>
     </div>
 <div class="col-md-1 line-two  position-relative"></div>
 </div>
</div>
<p>Graphic Artist - Web Designer - Illustrator</p>
</div>


    </div>
    
